## Perguntas:

### https://github.com/DataTalksClub/mlops-zoomcamp/blob/main/01-intro/homework.md

## Respostas:

In [5]:
#pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-8.0.0-cp39-cp39-win_amd64.whl (17.9 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\cleit\appdata\roaming\python\python39\site-packages (from pyarrow) (1.19.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-8.0.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
### EDA ------------------------
import pandas as pd
import numpy as np

### Modelo - Divisão treino/teste ------------------------
from sklearn.model_selection import train_test_split

### Modelo - Métricas de desempenho ------------------------
from sklearn.metrics import mean_squared_error

### Modelo - Pré-processamento ------------------------
from sklearn.feature_extraction import DictVectorizer

#### Modelo - Modelos ------------------------
from sklearn.linear_model import LinearRegression

In [2]:
link_df1 = 'https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-01.parquet'
link_df2 = 'https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-02.parquet'

In [3]:
df1_original = pd.read_parquet(link_df1, engine = 'pyarrow')
df1_original.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037

In [4]:
df2_original = pd.read_parquet(link_df2, engine = 'pyarrow')
df2_original.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00013,2021-02-01 00:01:00,2021-02-01 01:33:00,NaN,NaN,None,B00014
1,B00021,2021-02-01 00:55:40,2021-02-01 01:06:20,173.0,82.0,None,B00021
2,B00021,2021-02-01 00:14:03,2021-02-01 00:28:37,173.0,56.0,None,B00021
3,B00021,2021-02-01 00:27:48,2021-02-01 00:35:45,82.0,129.0,None,B00021
4,B00037,2021-02-01 00:12:50,2021-02-01 00:26:38,NaN,225.0,None,B00037

In [5]:
df1 = df1_original
df2 = df2_original

In [6]:
df1['pickup_datetime'] = pd.to_datetime(df1['pickup_datetime'])
df1['dropOff_datetime'] = pd.to_datetime(df1['dropOff_datetime'])

In [7]:
df1['duration'] = df1['dropOff_datetime'] - df1['pickup_datetime']

In [8]:
df1['duration'] = df1['duration'].dt.total_seconds()/60

In [9]:
df2['pickup_datetime'] = pd.to_datetime(df2['pickup_datetime'])
df2['dropOff_datetime'] = pd.to_datetime(df2['dropOff_datetime'])
df2['duration'] = df2['dropOff_datetime'] - df2['pickup_datetime']
df2['duration'] = df2['duration'].dt.total_seconds()/60

In [10]:
df1.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009,17.000000
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009,17.000000
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013,110.000000
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037,8.283333
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037,15.216667

In [11]:
print(df1.info(), df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154112 entries, 0 to 1154111
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   dispatching_base_num    1154112 non-null  object
 1   pickup_datetime         1154112 non-null  datetime64[ns]
 2   dropOff_datetime        1154112 non-null  datetime64[ns]
 3   PUlocationID            195845 non-null   float64
 4   DOlocationID            991892 non-null   float64
 5   SR_Flag                 0 non-null        object
 6   Affiliated_base_number  1153227 non-null  object
 7   duration                1154112 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 70.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037692 entries, 0 to 1037691
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   dispatching_base_num    1037692 non-null  object
 1   pickup_datetime         1037692 non-null  datetime64[ns]
 2   dropOff_datetime        1037692 non-null  datetime64[ns]
 3   PUlocationID            153001 non-null   float64
 4   DOlocationID            885340 non-null   float64
 5   SR_Flag                 0 non-null        object
 6   Affiliated_base_number  1037692 non-null  object
 7   duration                1037692 non-null  float64
dtypes: datetime64[ns](2), float64(3), object(3)
memory usage: 63.3+ MB
None None

#### Q1 - Read the data for January. How many records are there?

In [12]:
print('jan/2021:', len(df1.index), '\nfev/2021:', len(df2.index))

jan/2021: 1154112
fev/2021: 1037692

In [13]:
print("R:", 'jan/2021:', len(df1.index))

R: jan/2021: 1154112

#### Q2 - What's the average trip duration in January?

In [14]:
(df1['dropOff_datetime'] - df1['pickup_datetime']).mean()

Timedelta('0 days 00:19:10.033445627')

#### Q3 - What's the fractions of missing values for the pickup location ID? I.e. fraction of "-1"s after you filled the NAs.

In [15]:
print('R:', df1['PUlocationID'].isnull().sum()* 100 / len(df1))

R: 83.03067639882438

#### Q4 - What's the dimensionality of this matrix? (The number of columns).

In [16]:
df1_new = df1[['PUlocationID', 'DOlocationID', 'duration']]
df2_new = df2[['PUlocationID', 'DOlocationID', 'duration']]

In [17]:
df1_new.head()

   PUlocationID  DOlocationID    duration
0           NaN           NaN   17.000000
1           NaN           NaN   17.000000
2           NaN           NaN  110.000000
3           NaN          72.0    8.283333
4           NaN          61.0   15.216667

In [18]:
df1_new = df1_new.dropna()
df2_new = df2_new.dropna()

In [19]:
trains_dicts = df1_new.to_dict(orient = 'records')
trains_dicts_test = df2_new.to_dict(orient = 'records')

In [22]:
dv = DictVectorizer()
X_train = dv.fit_transform(trains_dicts)
X_test = dv.fit_transform(trains_dicts_test)

In [23]:
X_train

<184404x3 sparse matrix of type '<class 'numpy.float64'>'
	with 553212 stored elements in Compressed Sparse Row format>

In [24]:
print('R: ',dv.feature_names_)

R:  ['DOlocationID', 'PUlocationID', 'duration']

#### Q5 - What's the RMSE on train?

In [25]:
y_train = df1_new['duration'].dropna()
y_train = y_train.values

In [26]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [27]:
y_pred = lr.predict(X_train)

In [28]:
mean_squared_error(y_train, y_pred, squared = False)

6.347558206414967e-13

#### Q6 - What's the RMSE on validation?

In [29]:
y_test = df2_new['duration'].dropna()
y_test = y_test.values

lr = LinearRegression()
lr.fit(X_test, y_test)

y_pred = lr.predict(X_test)

In [30]:
mean_squared_error(y_test, y_pred, squared = False)

5.6362679252000614e-11